body {
    background-color: lightgrey;
}

h1 {
    color: white;
    text-align: center;
    background-color: darkgrey;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

.button {
    width: 150px;
    text-align: center;
    margin:0 auto;
}
